body{
    /*Default text is Lucida Grande font with a sans-serif as a fallback option. All text is white on a black background */
    font-family: "Lucida Grande", 'sans-serif';
    color: #FFFFFF;
    background-color: #000000;
  }
  h1{
    /* Header 1 is 64px, centered */
    font-size: 64px;
    text-align: center;
  }
  h2{
      /* Header 2 is 30px, with grey (#808080) drop shadow that is offset 5px horizontally, 5px vertically, and 2px blur */
      font-size: 30px;
      text-shadow: 5px 5px 2px #808080;
  }
  p{
    /* Paragraphs use 24px font and have 20px padding on the top only */
    font-size: 24pt;
    padding-top: 20px;
  }
  a{
    /* make your links red, italics, and underlined */
    color: red;
    font-style: italics;
    text-decoration: underline;
  }
  a:hover{
    /* make the background color of your link black and the text white when you hover over it */
    color: white;
    background-color: black;
  }
  ul{
    /* make bullet points red squares */
    list-style-type: square;
    color: red;
  }
  img{
    /* make the image 300px wide and 220px high, 10px of padding, and a 3px dashed border in the color of your choice */
    width: 300px;
    height: 220px;
    border: 3px dashed pink;
  }
  footer{
    /* style the footer so it has a black background and white text */
    color: white;
    background-color:black;
  }
  