body{
    /*Default text is Lucida Grande font with a sans-serif as a fallback option. All text is white on a black background */
    font-family: "Lucida Grande", 'sans-serif';
    color: #FFFFFF;
    background-color: #000000;
  }
  h1{
    /* Header 1 is 64px, centered */
    font-size: 64px;
    text-align: center;
  }
  h2{
      /* Header 2 is 30px, with grey (#808080) drop shadow that is offset 5px horizontally, 5px vertically, and 2px blur */
      font-size: 30px;
      text-shadow: 5px 5px 2px #808080;
  }
  p{
    /* Paragraphs use 24px font and have 20px padding on the top only */
    font-size: 24pt;
    padding-top: 20px;
  }
  img{
    /* All images are on their own line, All images are centered, All images are 525px wide with proper aspect ratio (they are not warped or stretched)*/
    display:block;
    margin: 0 auto;
    max-width: 525px;
  }
  div{
     /*All divs must be at least 150px tall (but will automatically be taller if needed) with 25px padding on all sides*/
    min-height: 150px;
    padding: 25px;
  }
  #red{
    /*Background color is red, Text is aligned on the right side*/
    background-color: #ff0000;
    text-align: right;
  }
  #blue{
    /*Background color is blue, Text is aligned on the left side*/
    background-color: #0000ff;
    text-align: left;
  }
  #yellow{
    /*Background color is yellow, Text is aligned on the right side, Header 2 and paragraph text is black, Header 2 drop shadow is #c7e2c7 with the same parameters as above*/
    background-color: #ffff00;
    text-align: right;
    color: #000000;
  }
  h2 #yellow{
    text-shadow: #c7e2c7;
    color: #000000;
  }
  #green{
    /*Background color is green, Text is aligned on the left side*/
    background-color: #005C00;
    text-align: left;
  }
  footer{
    /* Footer text is right-aligned with 10px padding on the bottom and right only */
    text-align: right;
    padding-bottom: 10px;
    padding-right: 10px;
  }
  